* {
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  grid-gap: 0.4em;
}

body {
  /* background-image: url(https://i.imgur.com/CgKDPlb.gif); */
  text-align: center;
  object-fit: cover;
  background-color: whitesmoke;
  border-radius: 1em;
  padding: 0.5em;
}

body h1 {
  background-color: rgb(168, 168, 168);
  border-radius: 0.5em;
  border: solid;
  padding: 0.25em;
  border-color: black;
}

.grossIncome {
  background-color: rgb(229, 229, 229);
  border-radius: 0.5em;
  border: solid;
  border-color: black;
  text-align: center;
  padding: 1%;
  font-size: large;
  font-family: sans-serif;
}

.submitButton {
  background-color: red;
  border-radius: 0.5em;
  color: white;
  border: solid;
  border-color: black;
  padding: 1.2%;
}

.incomeContainer,
.taxesContainer,
.retirementContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid;
  border-radius: 1em;
  margin: 0.5em;
  background-color: rgb(229, 229, 229);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.taxesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 560px) {
  .incomeContainer,
  .taxesContainer,
  .retirementContainer,
  .singleFilerContainer {
    display: grid;
    /* When Page width reaches 975px it turns to 1 column */
    /* grid-template-columns: 1fr; */
    font-size: 85%;
  }
}

.taxBracketContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
